/* ---------------- */
/* SASS VARIABLES  */
/* ---------------- */
/* ------- */
/* GLOBAL  */
/* ------- */
* {
  font-family: 'Poppins', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  color: #7c8079;
  font-weight: 300;
  letter-spacing: 0.1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

p {
  font-weight: 200; }

:focus {
  outline: none !important; }

/* ----------------- */
/*  UTILITY CLASSES  */
/* ----------------- */
.pill {
  border-radius: 40px; }

.fontSatisfy {
  font-family: 'Satisfy', cursive; }

.mr-20 {
  margin-right: 20% !important; }

.row-1200 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.row-content {
  padding: 40px 15px;
  min-height: 400px; }
  .row-content .col-content-card {
    background-color: rgba(238, 240, 233, 0.9); }

.light-overlay,
.white-overlay,
.pic-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.light-overlay {
  background-color: rgba(247, 255, 240, 0.404); }

.white-overlay {
  background-color: rgba(255, 255, 255, 0.8); }

.pic-overlay {
  background-color: rgba(248, 255, 242, 0.2); }

@media screen and (max-width: 576px) {
  .xs-xtra-light-overlay {
    background-color: #f0f2ebb0 !important; } }

.hvr-bounce-to-bottom,
.hvr-bounce-to-top,
.hvr-bounce-to-right,
.hvr-bounce-to-left {
  transition: 0.3s !important; }
  .hvr-bounce-to-bottom:before,
  .hvr-bounce-to-top:before,
  .hvr-bounce-to-right:before,
  .hvr-bounce-to-left:before {
    transition: 0.3s !important;
    background: #7c8079 !important; }

/* -------------------- */
/*  Bootstrap Override  */
/* -------------------- */
.btn-primary {
  background-color: #f8fff2;
  border-color: #f8fff2;
  color: #7c8079;
  padding: 0.5rem 1.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  transition-timing-function: ease-in-out;
  transition: 0.275s; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #7c8079 !important;
    border-color: #7c8079 !important;
    color: rgba(238, 240, 233, 0.9) !important;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15); }
  .btn-primary:focus {
    background-color: #f8fff2;
    color: #7c8079;
    outline: none; }

.bg-light {
  background-color: rgba(238, 240, 233, 0.9) !important; }

/* -------------------- */
/*    TOP NAVIGATION    */
/* -------------------- */
#nav-logo {
  width: 30px; }

.res-btn {
  letter-spacing: 0.25rem;
  border: solid 2px #7c8079;
  color: #7c8079 !important;
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
  transition: 0.275s; }
  .res-btn:hover {
    text-decoration: none;
    color: #f8fff2 !important;
    background-color: #7c8079 !important;
    cursor: pointer; }

.fixed-res {
  position: fixed;
  top: 15px;
  left: 10px;
  z-index: 1031;
  transition: 0.15s;
  transition-timing-function: ease-in-out;
  font-size: 14px; }

.fixed-res.scrolled {
  background-color: rgba(238, 240, 233, 0.9);
  top: 10px;
  font-size: 11px; }

.pill-nav .navbar-toggler.hidden-toggler {
  opacity: 0%; }

.pill-nav .hidden-toggler.scrolled {
  background-color: rgba(247, 255, 240, 0.404);
  opacity: 100%; }

.pill-nav .collapse {
  transition: 0.1s; }

.pill-nav .navbar-nav {
  align-items: flex-start;
  padding-top: 0.5rem; }
  .pill-nav .navbar-nav .nav-link {
    background-color: rgba(238, 240, 233, 0.9);
    padding: 0.45rem 1.4rem;
    margin: 0.25rem auto;
    border-radius: 20px;
    letter-spacing: 0.15rem;
    transition: 0.15s;
    border: solid 1px #7c8079; }
    .pill-nav .navbar-nav .nav-link:hover {
      padding: 0.45rem 1.8rem;
      letter-spacing: 0.18rem; }
  .pill-nav .navbar-nav .nav-link:hover,
  .pill-nav .navbar-nav .nav-link.active {
    background-color: #7c8079;
    color: rgba(238, 240, 233, 0.9); }

.navbar-toggler {
  transition: 0.25s;
  border-width: 2px;
  border-radius: 25px;
  padding: 8px 8px 8px 9px;
  border-color: #7c8079 !important; }
  .navbar-toggler i {
    color: #7c8079; }
  .navbar-toggler:focus {
    outline: none; }

/* ------------- */
/*     FOOTER    */
/* ------------- */
footer {
  background-color: rgba(238, 240, 233, 0.9); }
  footer i {
    color: #7c8079; }
    footer i:hover {
      cursor: pointer; }

.tall-footer {
  padding: 40px 0; }
  .tall-footer .footer-row {
    max-width: 1200px; }
    .tall-footer .footer-row h2 {
      margin-bottom: 10px;
      font-size: 1.7rem; }
    .tall-footer .footer-row p {
      margin: 0; }
    .tall-footer .footer-row i {
      font-size: 2.5rem;
      margin-top: 15px; }
    .tall-footer .footer-row .f-menu-link {
      color: #7c8079;
      font-weight: 400;
      letter-spacing: 0.12rem;
      border: solid 2px #7c8079;
      padding: 0.2rem 0.8rem;
      margin-top: 15px;
      transition: 0.275s; }
      .tall-footer .footer-row .f-menu-link:hover {
        text-decoration: none;
        background-color: #7c8079;
        color: rgba(238, 240, 233, 0.9); }
    @media screen and (max-width: 767px) {
      .tall-footer .footer-row .footer-col {
        margin: 20px 0; } }
    .tall-footer .footer-row ul {
      padding: 0; }
      .tall-footer .footer-row ul li {
        list-style: none; }

.short-footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .short-footer i {
    font-size: 1.7rem; }

/* --------- */
/* HOME PAGE */
/* --------- */
.homeJumbo {
  background-image: url("/assets/pic_cuttingBoard.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative; }
  .homeJumbo h1 {
    letter-spacing: 0.23rem;
    font-size: 4rem;
    margin: 0.4rem; }
    .homeJumbo h1 span {
      font-weight: 700; }
  .homeJumbo p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.2rem; }

.banner {
  background-image: url("/assets/pic_banner.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  min-height: 300px;
  position: relative; }

.col-container {
  max-width: 600px; }

.quote {
  letter-spacing: 0.25rem;
  line-height: 3.4rem; }

.pic-right {
  padding: 0;
  z-index: -1; }

.pic-left {
  padding: 0;
  z-index: -1; }

.cook-pic,
.food-pic {
  height: 40vw;
  max-height: 390px;
  min-height: 200px;
  background-size: cover;
  background-position: right;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.cook-pic {
  background-image: url("/assets/pic_chef_ls.jpg"); }

.food-pic {
  background-image: url("/assets/pic_ingredients2.jpg"); }

@media screen and (max-width: 767px) {
  .cook-pic {
    background-position: top; } }

@media screen and (min-width: 768px) {
  .pic-right {
    margin-left: -25px;
    margin-right: 12px;
    margin-top: 0%; }
  .pic-left {
    border-top-right-radius: 0;
    margin-right: -25px; }
  .left-round {
    border-top-left-radius: 20px;
    margin-left: 12px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0; }
  .right-round {
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; } }

@media screen and (min-width: 767px) and (max-width: 992px) {
  .col-content-card {
    padding: 4vw !important; }
    .col-content-card p {
      font-size: 1.5vw; }
    .col-content-card h3 {
      font-size: 3vw; } }

/* --------- */
/* MENU PAGE */
/* --------- */
.menu-container {
  width: 100%;
  position: relative;
  height: calc(100vh - 106px);
  display: flex;
  margin-top: 56px;
  overflow: hidden; }
  .menu-container .pic-menu-selctor {
    position: relative;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: 0.25s;
    transition-timing-function: ease-in-out; }
    .menu-container .pic-menu-selctor:hover {
      cursor: pointer; }
    .menu-container .pic-menu-selctor h2 {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 0.4rem 1.4rem; }
    .menu-container .pic-menu-selctor h2 {
      margin-top: 25%;
      font-size: 1.6rem;
      z-index: 100;
      transition: 0.25s; }
    .menu-container .pic-menu-selctor .menu-back {
      display: flex;
      align-items: center;
      transition: 0.25s;
      opacity: 0%; }
    .menu-container .pic-menu-selctor i {
      margin-top: 1rem;
      font-size: 4rem;
      color: rgba(238, 240, 233, 0.9); }
    .menu-container .pic-menu-selctor .show-back {
      opacity: 100%;
      z-index: 100; }
  .menu-container .food-menu {
    background-color: #7c8079;
    height: 100%;
    width: 0%;
    opacity: 0%;
    position: relative;
    transition: 0.25s;
    transition-timing-function: ease-in-out; }
    .menu-container .food-menu .item-container {
      min-width: 75vw; }
      .menu-container .food-menu .item-container .menu-title {
        width: 80%;
        margin: 0 auto 0 auto; }
        .menu-container .food-menu .item-container .menu-title h1 {
          color: white; }
        .menu-container .food-menu .item-container .menu-title .title-underline {
          background-color: white;
          height: 2px;
          width: 90%;
          margin-left: auto; }
      .menu-container .food-menu .item-container .menu-item {
        margin-top: 1.3rem; }
        .menu-container .food-menu .item-container .menu-item h6,
        .menu-container .food-menu .item-container .menu-item p {
          color: white;
          margin-bottom: 0; }
        .menu-container .food-menu .item-container .menu-item h6 {
          font-size: 1.1rem; }
        .menu-container .food-menu .item-container .menu-item p {
          font-size: 0.7rem; }
        .menu-container .food-menu .item-container .menu-item .item-price {
          margin-left: 10px; }
  .menu-container .see-appetizer {
    background-image: url("/assets/pic_appetizer-board.jpg"); }
  .menu-container .see-brunch {
    background-image: url("/assets/pic_brunch-eggbennie.jpg"); }
  .menu-container .see-dinner {
    background-image: url("/assets/pic_dinner-steak.jpg"); }
  .menu-container .see-drinks {
    background-image: url("/assets/pic_drinks-splash.jpg"); }
  .menu-container .selector-hide-left {
    margin-left: -25%; }
  .menu-container .selector-hide-right {
    margin-right: -25%; }
  .menu-container .show-menu {
    width: 83%;
    opacity: 100%; }
  .menu-container .active-pic {
    width: 17%; }
    .menu-container .active-pic h2 {
      font-size: 0.8rem; }
  @media screen and (max-width: 767px) {
    .menu-container {
      flex-direction: column; }
      .menu-container .food-menu {
        height: 0%;
        width: 100%;
        overflow: hidden; }
        .menu-container .food-menu .item-container {
          min-width: 75vw;
          height: 90%;
          overflow-y: scroll;
          padding: 10px 0;
          overflow-x: hidden; }
      .menu-container .pic-menu-selctor {
        height: calc(25vh - 27px);
        width: 100%; }
        .menu-container .pic-menu-selctor h2 {
          margin-top: 20px; }
      .menu-container .selector-hide-left {
        margin-left: unset;
        margin-top: -25vh; }
      .menu-container .selector-hide-right {
        margin-right: unset;
        margin-bottom: -25vh; }
      .menu-container .show-menu {
        width: 100%;
        height: calc(85vh - 50px);
        overflow: scroll;
        padding: 20px 5%; }
      .menu-container .active-pic {
        width: 100%;
        height: 15vh; }
        .menu-container .active-pic h2 {
          font-size: 0.8rem;
          opacity: 0;
          margin-top: -2rem; } }

/* ------------ */
/*  ABOUT PAGE  */
/* ------------ */
.about-content-container {
  position: relative;
  height: 90vh;
  max-height: 670px;
  background-image: url("/assets/pic_group-feast.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media screen and (max-width: 767px) {
    .about-content-container {
      max-height: unset;
      height: unset;
      padding-bottom: 35px; } }
  .about-content-container .row-content {
    display: flex;
    align-items: flex-end;
    padding: 80px 10% 0 10%; }
    .about-content-container .row-content .about-pic,
    .about-content-container .row-content .about-content {
      width: 50%;
      z-index: 2;
      transition: 0.3s;
      transition-timing-function: ease-out; }
    @media screen and (max-width: 767px) {
      .about-content-container .row-content .about-pic,
      .about-content-container .row-content .about-content {
        width: 100%; } }
    .about-content-container .row-content .about-pic {
      height: 500px;
      background-image: url("/assets/pic_chef_ls.jpg");
      background-size: cover;
      background-position: center;
      border-top-left-radius: 15px;
      border-top-right-radius: 0px;
      z-index: 1000;
      position: relative; }
    .about-content-container .row-content .about-content {
      height: 480px;
      background-color: rgba(238, 240, 233, 0.9);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      border-top-left-radius: 0px;
      border-top-right-radius: 15px; }
      .about-content-container .row-content .about-content .about-details {
        width: 80%;
        position: absolute;
        transition: 0.3s; }
      .about-content-container .row-content .about-content .about-chef {
        opacity: 100%;
        z-index: 100; }
      .about-content-container .row-content .about-content .about-ingredients {
        opacity: 0;
        z-index: 10; }
    .about-content-container .row-content .move-card {
      border-top-left-radius: 15px;
      border-top-right-radius: 0px;
      margin-left: -100%; }
      .about-content-container .row-content .move-card .about-chef {
        opacity: 0%;
        z-index: 10; }
      .about-content-container .row-content .move-card .about-ingredients {
        opacity: 100%;
        z-index: 100; }
    .about-content-container .row-content .move-pic {
      margin-left: 50%;
      background-image: url("/assets/pic_ingredients2.jpg");
      border-top-left-radius: 0px;
      border-top-right-radius: 15px; }
    @media screen and (max-width: 767px) {
      .about-content-container .row-content .about-pic {
        height: 300px;
        border-top-right-radius: 20px; }
      .about-content-container .row-content .about-content {
        border-top-right-radius: 0; }
      .about-content-container .row-content .move-pic {
        margin-left: unset; }
      .about-content-container .row-content .move-card {
        margin-left: unset; } }
