/* ------- */
/* GLOBAL  */
/* ------- */

// colors
$primary-color-dark: #7c8079;
$primary-color-light: rgba(238, 240, 233, 0.9);
$btn-primary-color: #f8fff2;

// cards
$card-radius: 20px;

// menu
$menu-transition: 0.35s;
$menu-timing-function: ease-in;

* {
	font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $primary-color-dark;
	font-weight: 300;
	letter-spacing: 0.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

p {
	font-weight: 200;
}

.row-content {
	padding: 40px 15px;
	min-height: 400px;
	.col-content-card {
		background-color: $primary-color-light;
	}
}

.res-btn {
	letter-spacing: 0.25rem;
	border: solid 2px $primary-color-dark;
	color: $primary-color-dark;
	font-size: 0.8rem;
	padding: 0.3rem 0.8rem;
}

.res-btn:hover {
	text-decoration: none;
	color: $btn-primary-color;
	background-color: $primary-color-dark !important;
}

.fixed-res {
	position: fixed;
	top: 15px;
	left: 10px;
	z-index: 5;
	transition: 0.15s;
	transition-timing-function: ease-in-out;
	font-size: 14px;
}

.fixed-res.scrolled {
	background-color: $primary-color-light;
	top: 10px;
	font-size: 11px;
}

/* ----------------- */
/*  UTILITY CLASSES  */
/* ----------------- */

.pill {
	border-radius: 40px;
}

.fontSatisfy {
	font-family: 'Satisfy', cursive;
}

.mr-20 {
	margin-right: 20% !important;
}

.left-round {
	border-top-left-radius: $card-radius;
	border-bottom-left-radius: $card-radius;
}

.right-round {
	border-top-right-radius: $card-radius;
	border-bottom-right-radius: $card-radius;
}

/* -------------------- */
/*  Bootstrap Override  */
/* -------------------- */

.btn-primary {
	background-color: $btn-primary-color;
	border-color: $btn-primary-color;
	color: $primary-color-dark;
	padding: 0.5rem 1.2rem;
}

.navbar-toggler {
	border-radius: 25px;
	padding: 8px 8px 8px 9px;
}

/* --------- */
/* HOME PAGE */
/* --------- */

.homeJumbo {
	background-image: url('/assets/pic_cuttingBoard.jpg');
	background-size: cover;
	height: 100vh;
	margin: 0;
	h1 {
		letter-spacing: 0.23rem;
		font-size: 4rem;
		margin: 0.4rem;

		span {
			font-weight: 700;
		}
	}
	p {
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.2rem;
	}
	.jumbotron-filter {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(247, 255, 240, 0.5);
	}
}

.banner {
	background-image: url('/assets/pic_banner.jpg');
	background-size: cover;
	height: 40vh;
}

.quote {
	letter-spacing: 0.25rem;
	line-height: 3.4rem;
}

.pic-right {
	padding: 0;
	margin-left: -25px;
	z-index: -1;
}

.pic-left {
	padding: 0;
	margin-right: -20px;
	z-index: -1;
}

/* --------- */
/* MENU PAGE */
/* --------- */

.menu-container {
	width: 100%;
	position: relative;
	height: calc(100vh - 100px);
	display: flex;
	margin-top: 50px;

	.pic-menu-selctor {
		position: relative;
		width: 25%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		transition: $menu-transition;
		transition-timing-function: $menu-timing-function;

		h2,
		.menu-back {
			background-color: rgba(255, 255, 255, 0.8);
			padding: 0.4rem 1.4rem;
		}

		h2 {
			margin-top: 25%;
			font-size: 1.6rem;
		}

		.menu-back {
			display: flex;
			align-items: center;
			margin-top: 50px;
			transition: $menu-transition;
			opacity: 0%;
			i {
				font-size: 0.75rem;
				margin-right: 10px;
			}
		}
		.show-back {
			opacity: 100%;
		}
		.menu-back:hover {
			margin-top: 45px;
		}
	}
	.pic-menu-selctor:hover {
		cursor: pointer;
	}

	.food-menu {
		background-color: $primary-color-dark;
		height: 100%;
		width: 0%;
		position: relative;
		transition: $menu-transition;
		transition-timing-function: $menu-timing-function;
	}

	// Menu Buttons
	.see-appetizer {
		background-image: url('/assets/pic_appetizers.jpg');
	}

	.see-brunch {
		background-image: url('/assets/pic_brunch2.jpg');
	}

	.see-dinner {
		background-image: url('/assets/pic_chops.jpg');
	}

	.see-drinks {
		background-image: url('/assets/pic_drinks2.jpg');
	}

	// Menu Utility Classes
	.selector-hide-left {
		margin-left: -25%;
	}
	.selector-hide-right {
		margin-right: -25%;
	}
	.show-menu {
		width: 75%;
	}
}

/* ------------- */
/*  TALL FOOTER  */
/* ------------- */

footer {
	background-color: $primary-color-light;
	i {
		color: $primary-color-dark;
	}
}

.tall-footer {
	height: 280px;
	.footer-row {
		max-width: 1200px;
		p {
			line-height: 0.5rem;
		}
		i {
			font-size: 2.5rem;
		}
		.f-menu-link {
			color: $primary-color-dark;
			font-weight: 400;
			letter-spacing: 0.12rem;
			border: solid 2px $primary-color-dark;
			padding: 0.2rem 0.8rem;
		}

		.f-menu-link:hover {
			text-decoration: none;
		}
	}
}

.short-footer {
	height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	i {
		font-size: 1.7rem;
	}
}
