/* ---------------- */
/* SASS VARIABLES  */
/* ---------------- */

// colors
$primary-color-dark: rgb(124, 128, 121);
$secondary-color-dark: rgb(92, 125, 102);
$primary-color-light: rgba(238, 240, 233, 0.9);
$btn-primary-color: rgb(248, 255, 242);
$light-overlay: rgba(247, 255, 240, 0.404);

// global
$btn-transition-speed: 0.275s;

// cards
$card-radius: 20px;

// menu page
$menu-transition: 0.25s;
$menu-timing-function: ease-in-out;

// about page
$about-page-transitions: 0.3s;
$about-timing-function: ease-out;

/* ------- */
/* GLOBAL  */
/* ------- */

* {
	font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
	color: $primary-color-dark;
	font-weight: 300;
	letter-spacing: 0.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

p {
	font-weight: 200;
}

:focus {
	outline: none !important;
}

/* ----------------- */
/*  UTILITY CLASSES  */
/* ----------------- */

.pill {
	border-radius: 40px;
}

.fontSatisfy {
	font-family: 'Satisfy', cursive;
}

.mr-20 {
	margin-right: 20% !important;
}

.row-1200 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.row-content {
	padding: 40px 15px;
	min-height: 400px;
	.col-content-card {
		background-color: $primary-color-light;
	}
}

.light-overlay,
.white-overlay,
.pic-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.light-overlay {
	background-color: $light-overlay;
}

.white-overlay {
	background-color: rgba(255, 255, 255, 0.8);
}

.pic-overlay {
	background-color: rgba(248, 255, 242, 0.2);
}

@media screen and (max-width: 576px) {
	.xs-xtra-light-overlay {
		background-color: #f0f2ebb0 !important;
	}
}

// hover.css

.hvr-bounce-to-bottom,
.hvr-bounce-to-top,
.hvr-bounce-to-right,
.hvr-bounce-to-left {
	transition: 0.3s !important;
	&:before {
		transition: 0.3s !important;
		background: $primary-color-dark !important;
	}
}

/* -------------------- */
/*  Bootstrap Override  */
/* -------------------- */

.btn-primary {
	background-color: $btn-primary-color;
	border-color: $btn-primary-color;
	color: $primary-color-dark;
	padding: 0.5rem 1.2rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
	transition-timing-function: ease-in-out;
	transition: $btn-transition-speed;

	&:hover,
	// &:focus,
	&:active {
		background-color: $primary-color-dark !important;
		border-color: $primary-color-dark !important;
		color: $primary-color-light !important;
		box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
	}

	&:focus {
		background-color: $btn-primary-color;
		// border-color: $btn-primary-color;
		color: $primary-color-dark;
		outline: none;
	}
}

.bg-light {
	background-color: $primary-color-light !important;
}

/* -------------------- */
/*    TOP NAVIGATION    */
/* -------------------- */

#nav-logo {
	width: 30px;
}

// res-btn styling will also apply to footer reservation button
.res-btn {
	letter-spacing: 0.25rem;
	border: solid 2px $primary-color-dark;
	color: $primary-color-dark !important;
	font-size: 0.8rem;
	padding: 0.3rem 0.8rem;
	transition: $btn-transition-speed;

	&:hover {
		text-decoration: none;
		color: $btn-primary-color !important;
		background-color: $primary-color-dark !important;
		cursor: pointer;
	}
}

// fixed-res only applies to top reservation button
.fixed-res {
	position: fixed;
	top: 15px;
	left: 10px;
	z-index: 1031;
	transition: 0.15s;
	transition-timing-function: ease-in-out;
	font-size: 14px;
}

.fixed-res.scrolled {
	background-color: $primary-color-light;
	top: 10px;
	font-size: 11px;
}

.pill-nav {
	.navbar-toggler.hidden-toggler {
		opacity: 0%;
	}
	.hidden-toggler.scrolled {
		background-color: $light-overlay;
		opacity: 100%;
	}
	.collapse {
		transition: 0.1s;
	}
	.navbar-nav {
		align-items: flex-start;
		padding-top: 0.5rem;
		.nav-link {
			background-color: $primary-color-light;
			padding: 0.45rem 1.4rem;
			margin: 0.25rem auto;
			border-radius: 20px;
			letter-spacing: 0.15rem;
			transition: 0.15s;
			border: solid 1px $primary-color-dark;

			&:hover {
				padding: 0.45rem 1.8rem;
				letter-spacing: 0.18rem;
			}
		}
		.nav-link:hover,
		.nav-link.active {
			background-color: $primary-color-dark;
			color: $primary-color-light;
		}
	}
}

.navbar-toggler {
	transition: $menu-transition;
	border-width: 2px;
	border-radius: 25px;
	padding: 8px 8px 8px 9px;
	i {
		color: $primary-color-dark;
	}
	border-color: $primary-color-dark !important;
	&:focus {
		outline: none;
	}
}

/* ------------- */
/*     FOOTER    */
/* ------------- */

// ABOUT PAGE has additional footer  height overrides in 'ABOUT PAGE''section below

footer {
	background-color: $primary-color-light;
	i {
		color: $primary-color-dark;
		&:hover {
			cursor: pointer;
		}
	}
}

.tall-footer {
	padding: 40px 0;
	.footer-row {
		max-width: 1200px;
		h2 {
			margin-bottom: 10px;
			font-size: 1.7rem;
		}
		p {
			margin: 0;
		}
		i {
			font-size: 2.5rem;
			margin-top: 15px;
		}
		.f-menu-link {
			color: $primary-color-dark;
			font-weight: 400;
			letter-spacing: 0.12rem;
			border: solid 2px $primary-color-dark;
			padding: 0.2rem 0.8rem;
			margin-top: 15px;
			transition: $btn-transition-speed;
			&:hover {
				text-decoration: none;
				background-color: $primary-color-dark;
				color: $primary-color-light;
			}
		}
		@media screen and (max-width: 767px) {
			.footer-col {
				margin: 20px 0;
			}
		}

		ul {
			padding: 0;
			li {
				list-style: none;
			}
		}
	}
}

.short-footer {
	height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	i {
		font-size: 1.7rem;
	}
}

/* --------- */
/* HOME PAGE */
/* --------- */

// Jubmotron
.homeJumbo {
	background-image: url('/assets/pic_cuttingBoard.jpg');
	background-size: cover;
	height: 100vh;
	margin: 0;
	position: relative;
	h1 {
		letter-spacing: 0.23rem;
		font-size: 4rem;
		margin: 0.4rem;

		span {
			font-weight: 700;
		}
	}
	p {
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.2rem;
	}
}

// Reservation Banner
.banner {
	background-image: url('/assets/pic_banner.jpg');
	background-size: cover;
	background-position: center;
	height: 60vh;
	min-height: 300px;
	position: relative;
}

.col-container {
	max-width: 600px;
}

// Quote

.quote {
	letter-spacing: 0.25rem;
	line-height: 3.4rem;
}

// Cards and Pics

.pic-right {
	padding: 0;
	z-index: -1;
}

.pic-left {
	padding: 0;
	z-index: -1;
}

.cook-pic,
.food-pic {
	height: 40vw;
	max-height: 390px;
	min-height: 200px;
	background-size: cover;
	background-position: right;
	width: 100%;
	border-top-left-radius: $card-radius;
	border-top-right-radius: $card-radius;
}

.cook-pic {
	background-image: url('/assets/pic_chef_ls.jpg');
}

.food-pic {
	background-image: url('/assets/pic_ingredients2.jpg');
}

@media screen and (max-width: 767px) {
	.cook-pic {
		background-position: top;
	}
}
@media screen and (min-width: 768px) {
	.pic-right {
		margin-left: -25px;
		margin-right: 12px;
		margin-top: 0%;
	}

	.pic-left {
		border-top-right-radius: 0;
		margin-right: -25px;
	}

	.left-round {
		border-top-left-radius: $card-radius;
		margin-left: 12px;
		border-bottom-left-radius: $card-radius;
		border-top-right-radius: 0;
	}

	.right-round {
		border-top-left-radius: 0;
		border-top-right-radius: $card-radius;
		border-bottom-right-radius: $card-radius;
	}
}

@media screen and (min-width: 767px) and (max-width: 992px) {
	.col-content-card {
		padding: 4vw !important;
		p {
			font-size: 1.5vw;
		}
		h3 {
			font-size: 3vw;
		}
	}
}

/* --------- */
/* MENU PAGE */
/* --------- */

.menu-container {
	width: 100%;
	position: relative;
	height: calc(100vh - 106px);
	display: flex;
	margin-top: 56px;
	overflow: hidden;

	.pic-menu-selctor {
		position: relative;
		width: 25%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		transition: $menu-transition;
		transition-timing-function: $menu-timing-function;

		&:hover {
			cursor: pointer;
		}

		h2 {
			background-color: rgba(255, 255, 255, 0.8);
			padding: 0.4rem 1.4rem;
		}

		h2 {
			margin-top: 25%;
			font-size: 1.6rem;
			z-index: 100;
			transition: $menu-transition;
		}

		.menu-back {
			display: flex;
			align-items: center;
			transition: $menu-transition;
			opacity: 0%;
		}
		i {
			margin-top: 1rem;
			font-size: 4rem;
			color: $primary-color-light;
		}
		.show-back {
			opacity: 100%;
			z-index: 100;
		}
	}

	.food-menu {
		background-color: $primary-color-dark;
		height: 100%;
		width: 0%;
		position: relative;
		transition: $menu-transition;
		transition-timing-function: $menu-timing-function;

		.item-container {
			min-width: 75vw;

			.menu-title {
				width: 80%;
				margin: 0 auto 0 auto;
				h1 {
					color: white;
				}
				.title-underline {
					background-color: white;
					height: 2px;
					width: 90%;
					margin-left: auto;
				}
			}
			.menu-item {
				margin-top: 1.3rem;
				h6,
				p {
					color: white;
					margin-bottom: 0;
				}
				h6 {
					font-size: 1.1rem;
				}
				p {
					font-size: 0.7rem;
				}
				.item-price {
					margin-left: 10px;
				}
			}
		}
	}

	// FOOD MENU BUTTON BACKGROUNDS
	.see-appetizer {
		background-image: url('/assets/pic_appetizer-board.jpg');
	}

	.see-brunch {
		background-image: url('/assets/pic_brunch-eggbennie.jpg');
	}

	.see-dinner {
		background-image: url('/assets/pic_dinner-steak.jpg');
	}

	.see-drinks {
		background-image: url('/assets/pic_drinks-splash.jpg');
	}

	// Menu Utility Classes
	.selector-hide-left {
		margin-left: -25%;
	}
	.selector-hide-right {
		margin-right: -25%;
	}
	.show-menu {
		width: 83%;
	}
	.active-pic {
		width: 17%;
		h2 {
			font-size: 0.8rem;
		}
	}
}

/* ------------ */
/*  ABOUT PAGE  */
/* ------------ */

.about-content-container {
	position: relative;
	height: 90vh;
	max-height: 670px;
	background-image: url('/assets/pic_group-feast.jpg');
	background-size: cover;
	background-position: center;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	@media screen and (max-width: 767px) {
		max-height: unset;
		height: unset;
		padding-bottom: 35px;
	}

	.row-content {
		display: flex;
		align-items: flex-end;
		padding: 80px 10% 0 10%;
		.about-pic,
		.about-content {
			width: 50%;
			z-index: 2;
			transition: $about-page-transitions;
			transition-timing-function: $about-timing-function;
		}
		@media screen and (max-width: 767px) {
			.about-pic,
			.about-content {
				width: 100%;
			}
		}
		.about-pic {
			height: 500px;
			background-image: url('/assets/pic_chef_ls.jpg');
			background-size: cover;
			background-position: center;
			border-top-left-radius: 15px;
			border-top-right-radius: 0px;
			z-index: 1000;
			position: relative;
		}
		.about-content {
			height: 480px;
			background-color: $primary-color-light;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			border-top-left-radius: 0px;
			border-top-right-radius: 15px;
			.about-details {
				width: 80%;
				position: absolute;
				transition: $about-page-transitions;
			}
			.about-chef {
				opacity: 100%;
				z-index: 100;
			}
			.about-ingredients {
				opacity: 0;
				z-index: 10;
			}
		}
		// toggle classes
		.move-card {
			border-top-left-radius: 15px;
			border-top-right-radius: 0px;
			margin-left: -100%;
			.about-chef {
				opacity: 0%;
				z-index: 10;
			}
			.about-ingredients {
				opacity: 100%;
				z-index: 100;
			}
		}
		.move-pic {
			margin-left: 50%;
			background-image: url('/assets/pic_ingredients2.jpg');
			border-top-left-radius: 0px;
			border-top-right-radius: 15px;
		}

		@media screen and (max-width: 767px) {
			.about-pic {
				height: 300px;
				border-top-right-radius: $card-radius;
			}
			.about-content {
				border-top-right-radius: 0;
			}
			.move-pic {
				margin-left: unset;
			}
			.move-card {
				margin-left: unset;
			}
		}
	}
}
